.table {
  width: 100%;
}

.table th {
  font-size: 0.75rem;
  line-height: 1.125;
  color: var(--table-header-color);
  text-align: left;
  text-transform: uppercase;
}

.table td {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: left;
  padding: 0.5rem 0;
}

.table td:first-child {
  font-weight: 700;
}

@media (max-width: 768px) {
  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table th,
  .table td {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .table td:first-child {
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  .table th,
  .table td {
    font-size: 0.625rem;
    padding: 0.125rem;
  }

  .table td:first-child {
    font-weight: 700;
  }
}
